#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1366px;
  min-width: 1366px;
  min-height: 1200px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Master_item_1 div.offset {
  position: relative;
  top: -133px;
  left: -114px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Master_item_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 1200px;
  overflow: visible;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-empployee_details {
  position: absolute;
  top: 134px;
  left: 240px;
  width: 1021px;
  height: 415px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1021px;
  height: 415px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 3px 0px #D9D9D9;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_4 {
  position: absolute;
  top: 20px;
  left: 18px;
  width: 300px;
  height: 320px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CECECE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CECECE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CECECE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CECECE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_32 {
  position: absolute;
  top: 11px;
  left: 339px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_32 span {
  color: #3598DC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #3598DC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_42 {
  position: absolute;
  top: 37px;
  left: 338px;
  width: 233px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_42 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_42 span#rtr-s-Text_42_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Group_7 {
  position: absolute;
  top: 81px;
  left: 338px;
  width: 262px;
  height: 198px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Group_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 262px;
  height: 191px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Group_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 262px;
  height: 191px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_45 {
  position: absolute;
  top: 16px;
  left: 88px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_45 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_45 span#rtr-s-Text_45_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_5 > svg {
  width: 43px;
  height: 43px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 43px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_6 > svg {
  width: 43px;
  height: 43px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_6 {
  position: absolute;
  top: 59px;
  left: 2px;
  width: 43px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_46 {
  position: absolute;
  top: 44px;
  left: 52px;
  width: 143px;
  height: 71px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_46 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_46 span#rtr-s-Text_46_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_46 span#rtr-s-Text_46_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_47 {
  position: absolute;
  top: 74px;
  left: 132px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_47 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_47 span#rtr-s-Text_47_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_47 span#rtr-s-Text_47_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_47 span#rtr-s-Text_47_2 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_48 {
  position: absolute;
  top: 126px;
  left: 82px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_48 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_49 {
  position: absolute;
  top: 173px;
  left: 73px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_49 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_49 span#rtr-s-Text_49_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_50 {
  position: absolute;
  top: 126px;
  left: 134px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_50 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_50 span#rtr-s-Text_50_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_50 span#rtr-s-Text_50_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_50 span#rtr-s-Text_50_2 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_50 span#rtr-s-Text_50_3 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_51 {
  position: absolute;
  top: 172px;
  left: 131px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_51 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_51 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_51 span#rtr-s-Text_51_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_51 span#rtr-s-Text_51_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_51 span#rtr-s-Text_51_2 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_43 {
  position: absolute;
  top: 17px;
  left: 129px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_43 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_43 span#rtr-s-Text_43_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_43 span#rtr-s-Text_43_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_43 span#rtr-s-Text_43_2 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_7 > svg {
  width: 43px;
  height: 43px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_7 {
  position: absolute;
  top: 110px;
  left: 2px;
  width: 43px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_8 > svg {
  width: 43px;
  height: 43px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_8 {
  position: absolute;
  top: 155px;
  left: 2px;
  width: 43px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Line_12 {
  position: absolute;
  top: 287px;
  left: 342px;
  width: 666px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-H1_text {
  position: absolute;
  top: 85px;
  left: 240px;
  width: 310px;
  height: 40px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 22.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_3 {
  position: absolute;
  top: 10px;
  left: 150px;
  width: 160px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_3 span {
  color: #9EACB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #9EACB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}