#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3598DC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3598DC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3598DC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3598DC;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Triangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Triangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Table_1 {
  border-collapse: separate;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_1 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_5 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_7 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_9 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_101 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_101 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_2 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_4 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_6 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_8 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_10 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_102 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_102 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_94 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_11 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_12 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_13 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_14 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_15 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_103 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_103 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_16 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_17 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_18 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_19 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_20 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_104 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_104 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_21 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_22 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_23 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_24 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_25 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_105 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_105 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_26 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_27 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_28 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_29 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_30 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_30 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_106 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_106 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_31 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_32 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_32 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_33 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_34 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_34 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_35 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_107 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_107 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_36 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_37 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_37 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_38 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_38 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_39 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_40 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_114 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_108 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_108 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_41 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_42 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_42 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_43 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_43 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_44 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_44 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_45 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_45 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_109 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_109 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_46 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_46 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_47 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_47 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_48 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_48 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_49 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_49 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_50 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_50 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_110 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_110 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_51 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_51 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_52 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_52 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_53 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_53 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_54 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_54 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_55 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_55 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_111 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_111 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_56 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_56 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_57 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_57 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_58 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_58 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_59 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_59 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_60 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_60 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_112 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_112 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_61 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_61 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_62 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_62 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_63 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_63 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_64 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_64 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_65 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_65 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_113 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_113 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_66 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_66 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_67 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_67 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_68 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_68 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_69 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_69 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_70 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_70 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_71 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Cell_71 > .valign {
  vertical-align: middle;
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Ellipse {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3598DC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3598DC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3598DC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3598DC;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Rectangle_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_122 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Label_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_123 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Triangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Triangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-b8e2c867-c49a-4554-a12c-7bc416e4fe48 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}