#s-d1659409-02c0-452e-b630-761a40d5185e #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3598DC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3598DC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3598DC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3598DC;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Triangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Triangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Label_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Rectangle_26 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Rectangle_27 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Rectangle_24 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Rectangle_25 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Label_19 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Rectangle_28 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Rectangle_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Label_23 {
  -ms-transform: rotate(180.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Rectangle_32 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Rectangle_33 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Label_26 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Rectangle_30 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Rectangle_31 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Label_24 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Rectangle_34 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Rectangle_35 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Image_125 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e #s-Label_25 {
  -ms-transform: rotate(0.0deg);
}
#s-d1659409-02c0-452e-b630-761a40d5185e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}